<html>
<head>
    <title>チャット</title>
    <style>
        ul#messages {
            list-style: none;
        }

        ul#messages li {
            margin-bottom: 2px;
        }

        ul#messages li img {
            margin-right: 10px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul id="messages"></ul>
        </div>
    </div>
    <p>WebSocketを使ったチャットアプリケーション</p>
    <form id="chatbox" role="form">
        <div class="form-group">
            <label for="messages">{{.UserData.name}}からメッセージを送信</label>
            <textarea class="form-control"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Send"/>
        <a href="/logout">サインアウト</a>
    </form>
</div>
</body>
<script>
    $(function () {
        var socket = null;
        var msgBox = $("#chatbox textarea");

        var messages = $("#messages");
        $('#chatbox').submit(function () {
            if (!msgBox.val()) return false;
            if (!socket) {
                alert("Error!!: WebSocket接続が行われていません");
                return false;
            }
            socket.send(JSON.stringify({"Message": msgBox.val()}));
            msgBox.val("");
            return false;
        });
        if (!window['WebSocket']) {
            alert("Error!!: WebSocketには対応していないブラウザです");
        } else {
            socket = new WebSocket("ws://localhost:8080/room");
            socket.onclose = function () {
                alert("接続が終了しました");
            }
            socket.onmessage = function (e) {
                var msg = eval("(" + e.data + ")");
                var when = new Date(msg.When).toLocaleTimeString();

                messages.append(
                    $("<li>").append(
                        $("<strong>").text(when + " "),
                        $("<img>").attr("title", msg.Name).css({
                            width: 50,
                            vertivalAlign: "middle"
                        }).attr("src", msg.AvaterURL),
                        $("<strong>").text(msg.Name + ": "),
                        $("<span>").text(msg.Message)
                    )
                )
            }
        }

    });
</script>


</html>


